<!DOCTYPE html>
<html>
<link rel="stylesheet" href="https://pyscript.net/latest/pyscript.css" />
<script defer src="https://pyscript.net/latest/pyscript.js"></script>

<style>
body {
   background-color: #6d4b73;
   color: #e4f786;
   display: grid;
   grid-template-rows: 1fr 100px auto;
}

h1 {
   justify-self: center;
   font-family: verdana;
   font-size: 500%;
}

img {
   display: block;
   margin-left: auto;
   margin-right: auto;
   border-radius: 8px;
}

</style>

<body>

<h1>Budget Trackr</h1>

<p style="justify-self:center;align-self:start;">The free to use tool to keep track of price changes across the web.</p>

<p style="justify-self:center;align-self:start;">Currently only one product is available for testing, linked below with an image. This list will be expanded in the future as the tool is developed.</p>

<a href="ryzen_55600x/index.html">
<img src="/static/Ryzen.jpg" width="650px" height="500px">
</a>

</body>
</html>
