Testing Printing w/ Jira
<------------------------------------------------>

Name:
    {{ name }}
Details:
    {{ details }}
Description:
    {{ desc }}
Price:
    {{ price }}
Rating:
    {{ rating }}
Number of Ratings:
    {{ num_ratings }}
